{% extends "layout.html" %}
{% block body %}

<body>
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <div class="field  has-addons">
                    <form action=" {{url_for('bluep.post_data')}}" method="POST" style="display:inline-flex">
                        <p class="control">
                            <input class="input" type="text" name="price" placeholder="12345" value="" />
                        </p>
                        <p class="control">
                            <input class="button is-primary" type="submit" name="submit" value="送信" />
                        </p>
                    </form>
                </div>
            </div>
        </div>
        <div class="level-right">
            <div class="level-item">
                <a href="{{ url_for('bluep.logout') }}" class="button is-danger">logout</a>
            </div>
        </div>
    </nav>
    <table border='1'>
        <tr>
            <th>chk</th>
            <th>ID</th>
            <th>price</th>
            <th>datetime</th>
        </tr>
        <form method="POST" action="{{ url_for('bluep.edit') }}">
            {% for row in dict_var.db_list_all %}
            <tr>
                <th><input type="radio" name="id" value="{{ row[0] }}"></th>
                <th>{{ row[0] }}</th>
                <th>{{ row[1] }}</th>
                <th>{{ row[2] }}</th>
            </tr>
            {% endfor %}
    </table>
    <div class="control">
        <input class="button is-primary" type="submit" value="編集">
    </div>

</body>

{% endblock %}