{% extends "layout.html" %}
{% block body %}

<body>
    {% for row in dict_var.confirm_row %}
    <form action="{{url_for('bluep.edit_data')}}" method="POST">
        <table border='1'>
            <tr>
                <th>ID</th>
                <th>price</th>
                <th>datetime</th>
            </tr>
            <tr>
                <th><input type="hidden" name="edit_id" value="{{ row[0] }}">{{ row[0] }}</th>
                <th><input class="input" type="text" name="edit_price" placeholder="{{ row[1] }}" value="{{ row[1] }}" /></th>
                <th><input class="input" type="text" name="edit_datetime" placeholder="{{ row[2] }}" value="{{ row[2] }}" /></th>
            </tr>
        </table>
        <input class="button is-primary" type="submit" name="submit" value="編集" />
    </form>

    <form action="{{url_for('bluep.del_data')}}" method="POST">
        <button class="button is-danger" type="submit" name="del_id" value="{{ row[0] }}" />削除</button>
    </form>
    {%endfor%}
</body>

{% endblock %}