{% extends "layout.html" %}
{% block body %}

<body>
    <nav class="level">
        <div class="level-left">
            <div class="level-item">
                <p class="subtitle is-3">食費計算機</p>
            </div>
        </div>
        <div class="level-left">
            <div class="level-item">
                <a href="{{ url_for('bluep.login') }}" class="button is-link">編集リスト</a>
            </div>
        </div>

    </nav>

    <table border='1'>
        <tr>
            <th>時刻</th>
            <th>金額</th>
        </tr>
        {% for row in dict_var.db_list_nanitabeta %}
        <tr>
            {% if row[1] == 'null!' %}
            <th>null</th>
            {% else %}
            <th>{{ row[1][4:6] }}月{{ row[1][6:8] }}日{{ row[1][9:11] }}時{{ row[1][11:13] }}分</th>
            {% endif %}
            <th align="right">{{ '{:,.0f}円'.format(row[0]) }}</th>
        </tr>
        {% endfor %}
        <tr>
            <th>合計</th>
            <th align="right">{{ '{:,.0f}円'.format(dict_var.total) }}</th>
        </tr>
        <tr>
            <th>残額</th>
            {% if 10000 - dict_var.total >= 0 %}
            <th align="right">
                {{ '{:,.0f}円'.format(10000 - dict_var.total) }}
            </th>
            {% else %}
            <th align="right">
                <font color="red">{{ '{:,.0f}円'.format(10000 - dict_var.total) }}</font>
            </th>
            {% endif %}
        </tr>
    </table>
</body>

{% endblock %}