{% extends "layout.html" %}
{% block body %}

<body>
    <form action=" {{url_for('bluep.sessions')}}" method="POST">
        <p class="control">
            <input class="input" type="text" name="user_id" placeholder="" value="" />
        </p>
        <p class="control">
            <input class="input" type="password" name="password" placeholder="" value="" />
        </p>
        <input class="button is-primary" type="submit" value="Login">
    </form>

</body>

{% endblock %}